:root {
    --font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
        sans-serif;
    --primary-color: rgb(224, 47, 238);
    --secondary-color: rgb(76, 160, 252);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 3rem;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h2 {
    margin-bottom: 1rem;
    color: rgb(25, 25, 28);
    font-size: 1.2rem;
}

main {
    width: min(100% - 15px, 40rem);
}

.form {
    width: 100%;
    background-color: white;
    border-radius: 6px 6px 0 0;
    position: relative;
    z-index: 1;
}

.form,
.respuesta {
    padding: 1rem;
    border: 1px solid rgb(230, 225, 235);
}

.form .inputs-flex {
    display: flex;
    gap: 1rem;
}

.form-control,
.btn {
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
    border-radius: 5px;
}

.form-control {
    width: 100%;
    border: 1px solid rgb(50, 50, 58, .2);
}

.form-control:focus {
    border-color: rgb(30, 30, 38, .8);
}

.btn {
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-mostrar {
    margin-top: 2rem;
    background: linear-gradient(
        286deg,
        var(--secondary-color),
        var(--primary-color) 76%
    );
    background-size: 100%;
    color: white;
}

.btn-limpiar {
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid rgb(230, 225, 235);
}

.respuesta {
    max-height: 260px;
    overflow-y: auto;
    margin: -1rem 0;
    padding-top: 2rem;
    border-radius: 0 0 6px 6px;
}

footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100vw;
    text-align: center;
}

@media (max-width: 750px) {
    .form .inputs-flex {
        flex-direction: column;
    }
}
